In [127]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [128]:
df = pd.read_csv('/data/p_dsi/teams2023/team2/asurion_data/Asurion_data_iPhone_v3.csv', parse_dates=['weeks_monday','month_year'])

In [129]:
df = df[(df['weeks_monday'] != '2023-02-13') & (df['weeks_monday'] != '2021-06-28')]

In [130]:
# df.set_index('weeks_monday')
# df.index = pd.to_datetime(df.index)

In [131]:
# df = df.sort_index(ascending=True)
# df

In [132]:
df['phone_size'] = df['phone_size'].str.replace('gb', '').astype(int)

In [133]:
df['phone_size'].unique()

array([128, 256,  64, 512,   8,  16,  32])

In [134]:
df

,phone_model,phone_generation,phone_size,phone_color,claim,weeks_monday,month,year,month_year
1,apple iphone 11,iphone 11,128,black,319,2021-07-05,7,2021,2021-07-01
2,apple iphone 11,iphone 11,128,black,320,2021-07-12,7,2021,2021-07-01
3,apple iphone 11,iphone 11,128,black,305,2021-07-19,7,2021,2021-07-01
4,apple iphone 11,iphone 11,128,black,269,2021-07-26,7,2021,2021-07-01
5,apple iphone 11,iphone 11,128,black,301,2021-08-02,8,2021,2021-08-01
...,...,...,...,...,...,...,...,...,...
17873,apple iphone xs max,iphone x,64,silver,19,2023-01-09,1,2023,2023-01-01
17874,apple iphone xs max,iphone x,64,silver,18,2023-01-16,1,2023,2023-01-01
17875,apple iphone xs max,iphone x,64,silver,19,2023-01-23,1,2023,2023-01-01
17876,apple iphone xs max,iphone x,64,silver,14,2023-01-30,1,2023,2023-01-01
17877,apple iphone xs max,iphone x,64,silver,13,2023-02-06,2,2023,2023-02-01

In [135]:
df['phone_generation'] = df['phone_generation'].str.replace('iphone ', '')

In [136]:
df['phone_generation'].unique()

array(['11', '12', '13', '14', '3', '4', '5', '6', '7', '8', 'se', 'x'],
      dtype=object)

In [137]:
df['phone_generation'] = df['phone_generation'].replace('x', '10')

In [138]:
df = df[df['phone_generation'] != 'se']

In [139]:
df['phone_generation'].unique()

array(['11', '12', '13', '14', '3', '4', '5', '6', '7', '8', '10'],
      dtype=object)

In [140]:
df['phone_generation'] = df['phone_generation'].astype(int)

/tmp/ipykernel_72495/3512000869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone_generation'] = df['phone_generation'].astype(int)

In [141]:
df['weeks_monday'] = pd.to_datetime(df['weeks_monday'])

df['week_of_year'] = df['weeks_monday'].apply(lambda x: x.isocalendar()[1]).astype(int)

/tmp/ipykernel_72495/1782946211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weeks_monday'] = pd.to_datetime(df['weeks_monday'])
/tmp/ipykernel_72495/1782946211.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['week_of_year'] = df['weeks_monday'].apply(lambda x: x.isocalendar()[1]).astype(int)

In [142]:
df['quarter'] = np.ceil(df['month'] / 3).astype(int)

/tmp/ipykernel_72495/2926847778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = np.ceil(df['month'] / 3).astype(int)

In [143]:
df['phone_generation'].unique()

array([11, 12, 13, 14,  3,  4,  5,  6,  7,  8, 10])

In [144]:
release_dates = {
    3: '2008-07-11',
    4: '2010-06-24',
    5: '2012-09-21',
    6: '2014-09-09',
    7: '2016-09-16', 
    8: '2017-09-22',
    10: '2017-11-03',
    11: '2019-09-20',
    12: '2020-10-23',
    13: '2021-10-24',
    14: '2022-09-16'
}
df['days_since_release_date'] = df.apply(lambda x: (x['weeks_monday'] - pd.to_datetime(release_dates[x['phone_generation']])).days, axis=1)

/tmp/ipykernel_72495/631562203.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['days_since_release_date'] = df.apply(lambda x: (x['weeks_monday'] - pd.to_datetime(release_dates[x['phone_generation']])).days, axis=1)

In [145]:
df['holiday'] = df['weeks_monday'].apply(lambda x: 1 if x in pd.to_datetime(['2021-06-28', '2021-11-22', '2021-12-20',
                                                                             '2022-12-27', '2022-04-11', '2022-05-30',
                                                                             '2022-07-04', '2022-11-21', '2022-12-19',
                                                                             '2022-12-26']) else 0)

/tmp/ipykernel_72495/1935803524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['holiday'] = df['weeks_monday'].apply(lambda x: 1 if x in pd.to_datetime(['2021-06-28', '2021-11-22', '2021-12-20',

In [146]:
df = df[['phone_model', 'phone_generation', 'phone_size', 'phone_color', 'week_of_year','month', 'quarter', 'year', 'holiday', 'days_since_release_date','claim']]

In [148]:
one_hot = pd.get_dummies(df['phone_color'])
df = pd.concat([df, one_hot], axis=1)
df

,phone_model,phone_generation,phone_size,phone_color,week_of_year,month,quarter,year,holiday,days_since_release_date,...,gray,green,midnight,pink,purple,red,silver,starlight,white,yellow
1,apple iphone 11,11,128,black,27,7,3,2021,0,654,...,0,0,0,0,0,0,0,0,0,0
2,apple iphone 11,11,128,black,28,7,3,2021,0,661,...,0,0,0,0,0,0,0,0,0,0
3,apple iphone 11,11,128,black,29,7,3,2021,0,668,...,0,0,0,0,0,0,0,0,0,0
4,apple iphone 11,11,128,black,30,7,3,2021,0,675,...,0,0,0,0,0,0,0,0,0,0
5,apple iphone 11,11,128,black,31,8,3,2021,0,682,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17873,apple iphone xs max,10,64,silver,2,1,1,2023,0,1893,...,0,0,0,0,0,0,1,0,0,0
17874,apple iphone xs max,10,64,silver,3,1,1,2023,0,1900,...,0,0,0,0,0,0,1,0,0,0
17875,apple iphone xs max,10,64,silver,4,1,1,2023,0,1907,...,0,0,0,0,0,0,1,0,0,0
17876,apple iphone xs max,10,64,silver,5,1,1,2023,0,1914,...,0,0,0,0,0,0,1,0,0,0
17877,apple iphone xs max,10,64,silver,6,2,1,2023,0,1921,...,0,0,0,0,0,0,1,0,0,0

In [150]:
one_hot = pd.get_dummies(df['phone_model'])
df = pd.concat([df, one_hot], axis=1)
df

,phone_model,phone_generation,phone_size,phone_color,week_of_year,month,quarter,year,holiday,days_since_release_date,...,apple iphone 6s,apple iphone 6s plus,apple iphone 7,apple iphone 7 plus,apple iphone 8,apple iphone 8 plus,apple iphone x,apple iphone xr,apple iphone xs,apple iphone xs max
1,apple iphone 11,11,128,black,27,7,3,2021,0,654,...,0,0,0,0,0,0,0,0,0,0
2,apple iphone 11,11,128,black,28,7,3,2021,0,661,...,0,0,0,0,0,0,0,0,0,0
3,apple iphone 11,11,128,black,29,7,3,2021,0,668,...,0,0,0,0,0,0,0,0,0,0
4,apple iphone 11,11,128,black,30,7,3,2021,0,675,...,0,0,0,0,0,0,0,0,0,0
5,apple iphone 11,11,128,black,31,8,3,2021,0,682,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17873,apple iphone xs max,10,64,silver,2,1,1,2023,0,1893,...,0,0,0,0,0,0,0,0,0,1
17874,apple iphone xs max,10,64,silver,3,1,1,2023,0,1900,...,0,0,0,0,0,0,0,0,0,1
17875,apple iphone xs max,10,64,silver,4,1,1,2023,0,1907,...,0,0,0,0,0,0,0,0,0,1
17876,apple iphone xs max,10,64,silver,5,1,1,2023,0,1914,...,0,0,0,0,0,0,0,0,0,1
17877,apple iphone xs max,10,64,silver,6,2,1,2023,0,1921,...,0,0,0,0,0,0,0,0,0,1

In [152]:
df = df.drop(['phone_model', 'phone_color'], axis=1)

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16579 entries, 1 to 17877
Data columns (total 55 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   phone_generation         16579 non-null  int64
 1   phone_size               16579 non-null  int64
 2   week_of_year             16579 non-null  int64
 3   month                    16579 non-null  int64
 4   quarter                  16579 non-null  int64
 5   year                     16579 non-null  int64
 6   holiday                  16579 non-null  int64
 7   days_since_release_date  16579 non-null  int64
 8   claim                    16579 non-null  int64
 9   black                    16579 non-null  uint8
 10  blue                     16579 non-null  uint8
 11  coral                    16579 non-null  uint8
 12  gold                     16579 non-null  uint8
 13  graphite                 16579 non-null  uint8
 14  gray                     16579 non-null  uint8
 15  green                    16579 non-null  uint8
 16  midnight                 16579 non-null  uint8
 17  pink                     16579 non-null  uint8
 18  purple                   16579 non-null  uint8
 19  red                      16579 non-null  uint8
 20  silver                   16579 non-null  uint8
 21  starlight                16579 non-null  uint8
 22  white                    16579 non-null  uint8
 23  yellow                   16579 non-null  uint8
 24  apple iphone 11          16579 non-null  uint8
 25  apple iphone 11 pro      16579 non-null  uint8
 26  apple iphone 11 pro max  16579 non-null  uint8
 27  apple iphone 12          16579 non-null  uint8
 28  apple iphone 12 mini     16579 non-null  uint8
 29  apple iphone 12 pro      16579 non-null  uint8
 30  apple iphone 12 pro max  16579 non-null  uint8
 31  apple iphone 13          16579 non-null  uint8
 32  apple iphone 13 mini     16579 non-null  uint8
 33  apple iphone 13 pro      16579 non-null  uint8
 34  apple iphone 13 pro max  16579 non-null  uint8
 35  apple iphone 14          16579 non-null  uint8
 36  apple iphone 14 pro max  16579 non-null  uint8
 37  apple iphone 3g s        16579 non-null  uint8
 38  apple iphone 4           16579 non-null  uint8
 39  apple iphone 4s          16579 non-null  uint8
 40  apple iphone 5           16579 non-null  uint8
 41  apple iphone 5c          16579 non-null  uint8
 42  apple iphone 5s          16579 non-null  uint8
 43  apple iphone 6           16579 non-null  uint8
 44  apple iphone 6 plus      16579 non-null  uint8
 45  apple iphone 6s          16579 non-null  uint8
 46  apple iphone 6s plus     16579 non-null  uint8
 47  apple iphone 7           16579 non-null  uint8
 48  apple iphone 7 plus      16579 non-null  uint8
 49  apple iphone 8           16579 non-null  uint8
 50  apple iphone 8 plus      16579 non-null  uint8
 51  apple iphone x           16579 non-null  uint8
 52  apple iphone xr          16579 non-null  uint8
 53  apple iphone xs          16579 non-null  uint8
 54  apple iphone xs max      16579 non-null  uint8
dtypes: int64(9), uint8(46)
memory usage: 2.5 MB

In [155]:
df.to_csv('/data/p_dsi/teams2023/team2/asurion_data/tree_based_ML_features_final.csv', index=False)